/*shared style*/
body{font-family: 'Open Sans', sans-serif;}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-title{
    color: #181818;
font-size: 45px;
font-weight: 800;

}
nav ul{
    display: flex;
    align-items: center;
}
nav li{list-style: none;
margin-right: 50px;}
nav a{text-decoration: none;
color: #474747;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;}
nav li > button{
    background-color: #FD6E0A;
    width: 150px;
height: 64px;
flex-shrink: 0;
border-radius: 5px;
color: #FFF;
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
border: 0px;

}